.main__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px;
  height: 200px;
}

.left__container {
  flex: 1;
  width: 387px;
  height: 174px;
  border-right: 3px solid var(--color-background);
  font-size: var(--font-size-header);
  font-weight: 600;
  font-style: normal;
}

.right__container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.header3 {
  font-size: 28px;
}

.para {
  font-size: var(--font-size-para);
  color: var(--color-para);
}
